<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- For external blasters -->
    <uses-permission android:name="android.permission.USB_PERMISSION" android:required="false" />
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />

    <!-- For internal ir blaster -->
    <uses-permission android:name="android.permission.TRANSMIT_IR" android:required="false" />
    <uses-feature android:name="android.hardware.consumerir" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TV_Killer"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5351816440759833~2100344250"/>

        <activity
            android:name=".MainActivity"
            android:label="TV-Killer"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>